/****** GLOBAL ******/
body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/**** Util ****/
.btn {
    padding: var(--s) var(--l);
    transition: var(--trans-switch);
}

.btn.btn-primary {
    color: var(--color-background);
    background-color: var(--color-primary);
}

.btn.btn-primary:hover {
    background-color: var(--color-primary-darked);
}

.btn.stroke {
    border: .2rem solid var(--color-text);
    transition: border .2s ease-in, color .2s ease-in;
}
.btn.stroke:hover{
    color: var(--color-primary);
    border-color: var(--color-primary);
}

/**** Header ****/
header {
    display: flex;
    flex-direction: column;
    height: var(--bar-xl);
}

header > * {
    height: 100%;
}

/** header social **/
header .header-social {
    display: flex;
    justify-content: end;
    background-color: var(--color-primary);
}

.header-social .social-icons {
    padding: var(--s);
    display: flex;
    align-items: center;
    gap: var(--xl);
}

.social-icons .icon-spot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--xxl);
    width: var(--xxl);
    background-color: var(--color-background);
    border-radius: 50%;
}

.icon-spot .icon {
    display: flex;
    align-items: center;
    color: var(--color-primary);
}

/** header bar **/
.header-bar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: var(--s) var(--xxxl);
    gap: var(--m);
}

/* logo */
.logo img {
    filter: invert(54%) sepia(200%) saturate(500%) hue-rotate(140deg);
    width: 30rem;
    max-width: 100%;
    height: auto;
    transition: filter .3s ease-in-out;
}

.logo img:hover {
    filter: invert(54%) sepia(200%) saturate(900%) hue-rotate(140deg);
}

@media (max-width: 470px){
    header{
        height: auto;
    }
    header .header-social{
        justify-content: center;
    }
    header .header-bar{
        justify-content: center;
        padding-bottom: var(--l);
    }
}

/* nav */
.index-nav {
    display: flex;
    align-items: center;
}

.index-nav a {
    font-size: var(--l);
    font-weight: 500;
    padding-bottom: .2rem;
    border-bottom: .2rem solid var(--color-text);
}

.index-nav a:hover {
    color: var(--color-primary-darked);
    border-color: var(--color-primary-darked);
}

/****** HOME ******/
/**** Home main ****/
.home {
    background: url('../assets/img/hero.webp') center / cover no-repeat;
    height: 100%;
    padding-bottom: 10rem;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    position: relative;
}

.home::before {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0;
    background: radial-gradient(transparent 60%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
}

.home-content {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-content_text {
    text-align: center;
    font-size: var(--xl);
    transition: text-shadow .2s ease-in, scale .3s ease-out;
}

.home-content:has(a:hover) .home-content_text {
    scale: 1.1;
    text-shadow: -.4rem .4rem .5rem rgba(0, 0, 0, .2);
}

.home-content_anchor {
    font-size: var(--m);
    font-weight: 600;
    transition: background .2s ease-in, box-shadow .2s ease-in, scale .3s ease-out;
}

.home-content_anchor:hover {
    scale: 1.1;
    box-shadow: -.4rem .4rem .5rem rgba(0, 0, 0, .2);
}

/******* BLOGS *******/
/**** blogs main ****/
.wrapper {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--l) var(--xxxl) var(--xxl);
}

/** news **/
.news-container {
    background-color: var(--color-neutral);
}

.news_title {
    font-size: var(--xl);
    padding: 0 0 var(--m);
}

/* new */
.new {
    width: 100%;
    display: flex;
    gap: var(--xxxl);
}
@media(max-width: 680px){
    .new{
        flex-direction: column;
    }
    img.new_img{
        width: 100%;
    }
}
.new_img {
    width: 55%;
    object-fit: cover;
}

.new_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--m);
}

.new_content h3 {
    font-size: var(--l);
}

/** latest **/

.latest-sect_title{
    text-align: center;
}
/* latest-posts */
.latest-posts{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 4rem;
}
.post{
    padding-bottom: 2rem;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    gap: var(--s);
}

.post_img{
    height: 18rem;
    object-fit: cover;
    object-position: center 25%;
}
.post_content{
    text-align: justify;
}
.post_btn{
    width: fit-content;
    display: inline-block;
    padding-bottom: .2rem;
    text-decoration: underline;
    text-decoration-color: #fff;
    text-underline-offset: .5rem;
    text-decoration-thickness: .2rem;
    transition: text-decoration .4s ease-in-out;
}
.post_btn:hover{
    text-decoration-color: var(--color-secondary);
}

/** footer **/
footer{
    background-color: var(--color-text);
    color: var(--color-background);
}
footer .wrapper{
    padding-top: var(--m);
    padding-bottom: var(--m);
}
.footer-top{
    background-color: var(--color-primary);
}
.footer-bottom{
    text-align: center;
    padding: var(--m) 0;
}

/******* BLOG *******/
.blog-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.post-cover{
    height: 60rem;
}
.post-cover_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 25%;
}
.post-content hr{
    margin: 1rem 0;
}
.post-category{
    background-color: var(--color-neutral);
    padding: .4rem .5rem;
    border-radius: .4rem;
}
.article-title{
    margin: 2.4rem 0;
}
.article-text{
    margin: 1.5rem 0;
}

.pre-footer{
    background-color: var(--color-neutral);
}
.pre-footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}
.pre-section{
    display: flex;
    height: 15rem;
    align-items: center;
    gap: 2rem;
}
.pre-section img{
    height: 70%;
    width:  auto;
}
.pre-section a{
    font-weight: 600;
    padding: .2rem 0;
    border-bottom: .3rem solid var(--color-text);
}
.pre-section p{
    padding: 1rem 0;
}

/****** Contacto ******/
.profile_img{
    margin: 0 auto;
    max-width: 80%;
    border-radius: 50%;
}
.new.profile{
    align-items: center;
}
/** proyecto **/
.projects-container h2{
    text-align: center;
    padding: 1rem 0 3rem;
    border-bottom: 2px solid var(--color-neutral);
}
.projects{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem;
}
.project_img{
    border-radius: 1rem;
    box-shadow: 0 0 .5rem gray;
    margin: 1rem 0;
}
